/* This is a helper that sets the icon position inside the png */

.sp_SeXnLWDyDgU {
  background-image: url('../img/qUld-0qPj9a.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}

.sp_SeXnLWDyDgU.sx_80f9e9 {
  width: 12px;
  height: 12px;
  background-position: -42px -119px
}

.sp_SeXnLWDyDgU.sx_58f60a {
  background-position: 0 -133px
}

.sp_SeXnLWDyDgU.sx_67be56 {
  background-position: -17px -133px
}

.sp_SeXnLWDyDgU.sx_79bdb6 {
  background-position: -34px -133px
}

.sp_SeXnLWDyDgU.sx_c4043c {
  background-position: -51px -133px
}

.sp_SeXnLWDyDgU.sx_55c9b8 {
  background-position: -68px -133px
}

.sp_SeXnLWDyDgU.sx_3a7ce3 {
  background-position: 0 -150px
}

.sp_SeXnLWDyDgU.sx_561777 {
  background-position: -17px -150px
}

.sp_SeXnLWDyDgU.sx_265cc5 {
  background-position: -34px -150px
}

.sp_SeXnLWDyDgU.sx_6f5c0b {
  background-position: -51px -150px
}

.sp_SeXnLWDyDgU.sx_99c03b {
  background-position: -68px -150px
}

.sp_SeXnLWDyDgU.sx_089b7f {
  background-position: 0 -167px
}

.sp_SeXnLWDyDgU.sx_17019b {
  background-position: -17px -167px
}

.sp_SeXnLWDyDgU.sx_2bd947 {
  background-position: -34px -167px
}

.sp_SeXnLWDyDgU.sx_95ed1a {
  background-position: -51px -167px
}

.sp_SeXnLWDyDgU.sx_196c0a {
  background-position: -68px -167px
}

.sp_SeXnLWDyDgU.sx_9dc4ed {
  background-position: 0 -184px
}

.sp_SeXnLWDyDgU.sx_6df255 {
  background-position: -17px -184px
}

.sp_SeXnLWDyDgU.sx_502b79 {
  background-position: -34px -184px
}

.sp_SeXnLWDyDgU.sx_cc662d {
  width: 12px;
  height: 12px;
  background-position: -55px -119px
}

.sp_SeXnLWDyDgU.sx_b1cf0a {
  background-position: -51px -184px
}

.sp_SeXnLWDyDgU.sx_b04634 {
  background-position: -68px -184px
}

.sp_SeXnLWDyDgU.sx_41a788 {
  background-position: 0 -201px
}

.sp_SeXnLWDyDgU.sx_d3a444 {
  background-position: -17px -201px
}

.sp_SeXnLWDyDgU.sx_a8b513 {
  background-position: -34px -201px
}

.sp_SeXnLWDyDgU.sx_36f153 {
  background-position: -51px -201px
}

.sp_SeXnLWDyDgU.sx_3f8454 {
  background-position: -68px -201px
}

.sp_SeXnLWDyDgU.sx_9ce0d1 {
  background-position: 0 -218px
}

.sp_SeXnLWDyDgU.sx_d87ac0 {
  background-position: -17px -218px
}

.sp_SeXnLWDyDgU.sx_b0cfc8 {
  background-position: -34px -218px
}

.sp_SeXnLWDyDgU.sx_ee8ae4 {
  background-position: -51px -218px
}

.sp_SeXnLWDyDgU.sx_fa8ca6 {
  background-position: -68px -218px
}

.sp_SeXnLWDyDgU.sx_c2a0cd {
  background-position: 0 -235px
}

.sp_SeXnLWDyDgU.sx_4f0c0c {
  background-position: -17px -235px
}

.sp_SeXnLWDyDgU.sx_489b25 {
  background-position: -34px -235px
}

.sp_SeXnLWDyDgU.sx_92dbfb {
  background-position: -51px -235px
}

.sp_SeXnLWDyDgU.sx_da772a {
  background-position: -68px -235px
}

.sp_SeXnLWDyDgU.sx_32e9f1 {
  width: 12px;
  height: 12px;
  background-position: -68px -119px
}

.sp_SeXnLWDyDgU.sx_c7df22 {
  width: 12px;
  height: 12px;
  background-position: -81px -119px
}

.sp_SeXnLWDyDgU.sx_5b6c54 {
  background-position: 0 -252px
}

.sp_SeXnLWDyDgU.sx_d16a76 {
  background-position: -17px -252px
}

.sp_SeXnLWDyDgU.sx_c63462 {
  background-position: -34px -252px
}

.sp_SeXnLWDyDgU.sx_758eb7 {
  background-position: -51px -252px
}

.sp_SeXnLWDyDgU.sx_1cce2a {
  background-position: -68px -252px
}

.sp_SeXnLWDyDgU.sx_4baf9b {
  background-position: 0 -269px
}

.sp_SeXnLWDyDgU.sx_258897 {
  background-position: -17px -269px
}

.sp_SeXnLWDyDgU.sx_312677 {
  background-position: -34px -269px
}

.sp_SeXnLWDyDgU.sx_40f5b8 {
  background-position: -51px -269px
}

.sp_SeXnLWDyDgU.sx_587fd0 {
  width: 12px;
  height: 12px;
  background-position: -81px -388px
}

.sp_SeXnLWDyDgU.sx_7fa1ff {
  width: 12px;
  height: 12px;
  background-position: 0 -405px
}

.sp_SeXnLWDyDgU.sx_cde999 {
  width: 12px;
  height: 12px;
  background-position: -13px -405px
}

.sp_SeXnLWDyDgU.sx_cdc0ed {
  background-position: -68px -269px
}

.sp_SeXnLWDyDgU.sx_230654 {
  background-position: 0 -286px
}

.sp_SeXnLWDyDgU.sx_0cb854 {
  width: 20px;
  height: 20px;
  background-position: -25px -87px
}

.sp_SeXnLWDyDgU.sx_0602b1 {
  background-position: -17px -286px
}

.sp_SeXnLWDyDgU.sx_83a934 {
  background-position: -34px -286px
}

.sp_SeXnLWDyDgU.sx_a1254a {
  width: 20px;
  height: 20px;
  background-position: -46px -87px
}

.sp_SeXnLWDyDgU.sx_adf9f0 {
  width: 12px;
  height: 12px;
  background-position: -26px -405px
}

.sp_SeXnLWDyDgU.sx_5ac223 {
  width: 12px;
  height: 12px;
  background-position: -39px -405px
}

.sp_SeXnLWDyDgU.sx_cdf817 {
  width: 12px;
  height: 12px;
  background-position: -52px -405px
}

.sp_SeXnLWDyDgU.sx_001bcd {
  width: 20px;
  height: 20px;
  background-position: -67px -87px
}

.sp_SeXnLWDyDgU.sx_e8d674 {
  width: 20px;
  height: 20px;
  background-position: 0 -112px
}

.sp_SeXnLWDyDgU.sx_529f72 {
  background-position: -51px -286px
}

.sp_SeXnLWDyDgU.sx_c1fc06 {
  background-position: -68px -286px
}

.sp_SeXnLWDyDgU.sx_63cfe7 {
  width: 20px;
  height: 20px;
  background-position: -21px -112px
}

.sp_SeXnLWDyDgU.sx_997d87 {
  background-position: 0 -303px
}

.sp_SeXnLWDyDgU.sx_106ccd {
  width: 12px;
  height: 12px;
  background-position: -65px -405px
}

.sp_SeXnLWDyDgU.sx_3827d3 {
  background-position: -17px -303px
}

.sp_SeXnLWDyDgU.sx_510ecd {
  background-position: -34px -303px
}

.sp_SeXnLWDyDgU.sx_3b6caa {
  background-position: -51px -303px
}

.sp_SeXnLWDyDgU.sx_17f111 {
  background-position: -68px -303px
}

.sp_SeXnLWDyDgU.sx_a6a11f {
  background-position: 0 -320px
}

.sp_SeXnLWDyDgU.sx_77f3e0 {
  background-position: -17px -320px
}

.sp_SeXnLWDyDgU.sx_638cd4 {
  width: 15px;
  height: 24px;
  background-position: -80px -58px
}

.sp_SeXnLWDyDgU.sx_743587 {
  background-position: -34px -320px
}

.sp_SeXnLWDyDgU.sx_16c1e6 {
  background-position: -51px -320px
}

.sp_SeXnLWDyDgU.sx_e21d57 {
  background-position: -68px -320px
}

.sp_SeXnLWDyDgU.sx_95fc0f {
  background-position: 0 -337px
}

.sp_SeXnLWDyDgU.sx_bb0309 {
  background-position: -17px -337px
}

.sp_SeXnLWDyDgU.sx_cff8d8 {
  background-position: -34px -337px
}

.sp_SeXnLWDyDgU.sx_58b389 {
  background-position: -51px -337px
}

.sp_SeXnLWDyDgU.sx_4b3968 {
  background-position: -68px -337px
}

.sp_SeXnLWDyDgU.sx_2a078d {
  background-position: 0 -354px
}

.sp_SeXnLWDyDgU.sx_9e3db8 {
  background-position: -17px -354px
}

.sp_SeXnLWDyDgU.sx_57ff93 {
  background-position: -34px -354px
}

.sp_SeXnLWDyDgU.sx_c21beb {
  background-position: -51px -354px
}

.sp_SeXnLWDyDgU.sx_2b25a8 {
  background-position: -68px -354px
}

.sp_SeXnLWDyDgU.sx_2dac4a {
  background-position: 0 -371px
}

.sp_SeXnLWDyDgU.sx_db60cc {
  background-position: -17px -371px
}

.sp_SeXnLWDyDgU.sx_d31a4b {
  background-position: -34px -371px
}

.sp_SeXnLWDyDgU.sx_639b68 {
  background-position: -51px -371px
}

.sp_SeXnLWDyDgU.sx_b58791 {
  background-position: -68px -371px
}

.sp_SeXnLWDyDgU.sx_1cc4d2 {
  background-position: 0 -388px
}

.sp_SeXnLWDyDgU.sx_8e6209 {
  background-position: -17px -388px
}

.sp_SeXnLWDyDgU.sx_880035 {
  background-position: -34px -388px
}

.sp_SeXnLWDyDgU.sx_533f88 {
  background-position: -51px -388px
}

.sp_SeXnLWDyDgU.sx_df0052 {
  width: 12px;
  height: 10px;
  background-position: -78px -405px
}

.sp_SeXnLWDyDgU.sx_3909cc {
  width: 12px;
  height: 9px;
  background-position: 0 -418px
}

.sp_SeXnLWDyDgU.sx_9e4aa3 {
  width: 12px;
  background-position: -68px -388px
}

.sp_SeXnLWDyDgU.sx_01fa4d {
  width: 10px;
  height: 10px;
  background-position: -86px -29px
}

.sp_SeXnLWDyDgU.sx_fa03c4 {
  width: 11px;
  height: 12px;
  background-position: -85px -133px
}

.sp_SeXnLWDyDgU.sx_98c29a {
  width: 24px;
  height: 24px;
  background-position: 0 -87px
}

.sp_SeXnLWDyDgU.sx_c3ceec {
  width: 9px;
  height: 5px;
  background-position: -86px -51px
}

.sp_SeXnLWDyDgU.sx_7fe884 {
  width: 79px;
  height: 28px;
  background-position: 0 -58px
}

.sp_SeXnLWDyDgU.sx_955cd7 {
  width: 85px;
  height: 28px;
  background-position: 0 -29px
}

.sp_SeXnLWDyDgU.sx_121ed6 {
  width: 96px;
  height: 28px;
  background-position: 0 0
}

.sp_SeXnLWDyDgU.sx_f4cf79 {
  width: 10px;
  height: 6px;
  background-position: -52px -112px
}

.sp_SeXnLWDyDgU.sx_37a206 {
  width: 10px;
  height: 10px;
  background-position: -86px -40px
}

.sp_SeXnLWDyDgU.sx_479e04 {
  width: 10px;
  height: 10px;
  background-position: -85px -146px
}

.sp_SeXnLWDyDgU.sx_6a85a0 {
  width: 10px;
  height: 10px;
  background-position: -85px -157px
}

.sp_SeXnLWDyDgU.sx_830743 {
  width: 13px;
  height: 3px;
  background-position: -80px -83px
}

.sp_SeXnLWDyDgU_2x {
  background-image: url('../img/YNCG369P7nh.png');
  background-size: 97px 419px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}

.sp_SeXnLWDyDgU_2x.sx_6a7f04 {
  width: 12px;
  height: 12px;
  background-position: -42px -120px
}

.sp_SeXnLWDyDgU_2x.sx_cd1954 {
  background-position: 0 -134px
}

.sp_SeXnLWDyDgU_2x.sx_d5b112 {
  background-position: -17px -134px
}

.sp_SeXnLWDyDgU_2x.sx_f521de {
  background-position: -34px -134px
}

.sp_SeXnLWDyDgU_2x.sx_3b50e9 {
  background-position: -51px -134px
}

.sp_SeXnLWDyDgU_2x.sx_4b5cba {
  background-position: -68px -134px
}

.sp_SeXnLWDyDgU_2x.sx_93aa06 {
  background-position: 0 -151px
}

.sp_SeXnLWDyDgU_2x.sx_e27ed3 {
  background-position: -17px -151px
}

.sp_SeXnLWDyDgU_2x.sx_02a02f {
  background-position: -34px -151px
}

.sp_SeXnLWDyDgU_2x.sx_afc0b2 {
  background-position: -51px -151px
}

.sp_SeXnLWDyDgU_2x.sx_1f7493 {
  background-position: -68px -151px
}

.sp_SeXnLWDyDgU_2x.sx_5d9061 {
  background-position: 0 -168px
}

.sp_SeXnLWDyDgU_2x.sx_fade22 {
  background-position: -17px -168px
}

.sp_SeXnLWDyDgU_2x.sx_1ce753 {
  background-position: -34px -168px
}

.sp_SeXnLWDyDgU_2x.sx_c190e1 {
  background-position: -51px -168px
}

.sp_SeXnLWDyDgU_2x.sx_6fce5f {
  background-position: -68px -168px
}

.sp_SeXnLWDyDgU_2x.sx_f265eb {
  background-position: 0 -185px
}

.sp_SeXnLWDyDgU_2x.sx_de04a0 {
  background-position: -17px -185px
}

.sp_SeXnLWDyDgU_2x.sx_f073b7 {
  background-position: -34px -185px
}

.sp_SeXnLWDyDgU_2x.sx_c7cc72 {
  width: 12px;
  height: 12px;
  background-position: -55px -120px
}

.sp_SeXnLWDyDgU_2x.sx_b9b8bc {
  background-position: -51px -185px
}

.sp_SeXnLWDyDgU_2x.sx_a11f48 {
  background-position: -68px -185px
}

.sp_SeXnLWDyDgU_2x.sx_29a302 {
  background-position: 0 -202px
}

.sp_SeXnLWDyDgU_2x.sx_a5243f {
  background-position: -17px -202px
}

.sp_SeXnLWDyDgU_2x.sx_6b3967 {
  background-position: -34px -202px
}

.sp_SeXnLWDyDgU_2x.sx_de897e {
  background-position: -51px -202px
}

.sp_SeXnLWDyDgU_2x.sx_ba1d4f {
  background-position: -68px -202px
}

.sp_SeXnLWDyDgU_2x.sx_17262c {
  background-position: 0 -219px
}

.sp_SeXnLWDyDgU_2x.sx_d72843 {
  background-position: -17px -219px
}

.sp_SeXnLWDyDgU_2x.sx_1eb1f8 {
  background-position: -34px -219px
}

.sp_SeXnLWDyDgU_2x.sx_c7d07e {
  background-position: -51px -219px
}

.sp_SeXnLWDyDgU_2x.sx_a96ec7 {
  background-position: -68px -219px
}

.sp_SeXnLWDyDgU_2x.sx_213176 {
  background-position: 0 -236px
}

.sp_SeXnLWDyDgU_2x.sx_b44986 {
  background-position: -17px -236px
}

.sp_SeXnLWDyDgU_2x.sx_f78be5 {
  background-position: -34px -236px
}

.sp_SeXnLWDyDgU_2x.sx_9128cd {
  background-position: -51px -236px
}

.sp_SeXnLWDyDgU_2x.sx_ba3af6 {
  background-position: -68px -236px
}

.sp_SeXnLWDyDgU_2x.sx_007b99 {
  width: 12px;
  height: 12px;
  background-position: -68px -120px
}

.sp_SeXnLWDyDgU_2x.sx_a64cfd {
  width: 12px;
  height: 12px;
  background-position: -81px -120px
}

.sp_SeXnLWDyDgU_2x.sx_059348 {
  background-position: 0 -253px
}

.sp_SeXnLWDyDgU_2x.sx_13184c {
  background-position: -17px -253px
}

.sp_SeXnLWDyDgU_2x.sx_112c7e {
  background-position: -34px -253px
}

.sp_SeXnLWDyDgU_2x.sx_9d5950 {
  background-position: -51px -253px
}

.sp_SeXnLWDyDgU_2x.sx_206f38 {
  background-position: -68px -253px
}

.sp_SeXnLWDyDgU_2x.sx_a63822 {
  background-position: 0 -270px
}

.sp_SeXnLWDyDgU_2x.sx_df864b {
  background-position: -17px -270px
}

.sp_SeXnLWDyDgU_2x.sx_45fb57 {
  background-position: -34px -270px
}

.sp_SeXnLWDyDgU_2x.sx_0d0282 {
  background-position: -51px -270px
}

.sp_SeXnLWDyDgU_2x.sx_114262 {
  width: 12px;
  height: 12px;
  background-position: -68px -389px
}

.sp_SeXnLWDyDgU_2x.sx_a02a9f {
  width: 12px;
  height: 12px;
  background-position: -81px -389px
}

.sp_SeXnLWDyDgU_2x.sx_07bafb {
  width: 12px;
  height: 12px;
  background-position: 0 -406px
}

.sp_SeXnLWDyDgU_2x.sx_a7d3df {
  background-position: -68px -270px
}

.sp_SeXnLWDyDgU_2x.sx_a72ce1 {
  background-position: 0 -287px
}

.sp_SeXnLWDyDgU_2x.sx_22a712 {
  width: 20px;
  height: 20px;
  background-position: -25px -88px
}

.sp_SeXnLWDyDgU_2x.sx_8af5aa {
  background-position: -17px -287px
}

.sp_SeXnLWDyDgU_2x.sx_e93354 {
  background-position: -34px -287px
}

.sp_SeXnLWDyDgU_2x.sx_a2d33a {
  width: 20px;
  height: 20px;
  background-position: -46px -88px
}

.sp_SeXnLWDyDgU_2x.sx_261cd3 {
  width: 12px;
  height: 12px;
  background-position: -13px -406px
}

.sp_SeXnLWDyDgU_2x.sx_1b2a9a {
  width: 12px;
  height: 12px;
  background-position: -26px -406px
}

.sp_SeXnLWDyDgU_2x.sx_4b7e4d {
  width: 12px;
  height: 12px;
  background-position: -39px -406px
}

.sp_SeXnLWDyDgU_2x.sx_280ac2 {
  width: 20px;
  height: 20px;
  background-position: -67px -88px
}

.sp_SeXnLWDyDgU_2x.sx_8b0870 {
  width: 20px;
  height: 20px;
  background-position: 0 -113px
}

.sp_SeXnLWDyDgU_2x.sx_8879de {
  background-position: -51px -287px
}

.sp_SeXnLWDyDgU_2x.sx_81750f {
  background-position: -68px -287px
}

.sp_SeXnLWDyDgU_2x.sx_5913ce {
  width: 20px;
  height: 20px;
  background-position: -21px -113px
}

.sp_SeXnLWDyDgU_2x.sx_f03ff3 {
  background-position: 0 -304px
}

.sp_SeXnLWDyDgU_2x.sx_49217b {
  width: 12px;
  height: 12px;
  background-position: -52px -406px
}

.sp_SeXnLWDyDgU_2x.sx_7ca5a5 {
  background-position: -17px -304px
}

.sp_SeXnLWDyDgU_2x.sx_1b6e4f {
  background-position: -34px -304px
}

.sp_SeXnLWDyDgU_2x.sx_db624f {
  background-position: -51px -304px
}

.sp_SeXnLWDyDgU_2x.sx_f000c7 {
  background-position: -68px -304px
}

.sp_SeXnLWDyDgU_2x.sx_418f83 {
  background-position: 0 -321px
}

.sp_SeXnLWDyDgU_2x.sx_3cbc30 {
  background-position: -17px -321px
}

.sp_SeXnLWDyDgU_2x.sx_d7c7a4 {
  width: 15px;
  height: 24px;
  background-position: -81px -59px
}

.sp_SeXnLWDyDgU_2x.sx_b132b6 {
  background-position: -34px -321px
}

.sp_SeXnLWDyDgU_2x.sx_84b681 {
  background-position: -51px -321px
}

.sp_SeXnLWDyDgU_2x.sx_c95c96 {
  background-position: -68px -321px
}

.sp_SeXnLWDyDgU_2x.sx_9b1372 {
  background-position: 0 -338px
}

.sp_SeXnLWDyDgU_2x.sx_f2ee4d {
  background-position: -17px -338px
}

.sp_SeXnLWDyDgU_2x.sx_839d65 {
  background-position: -34px -338px
}

.sp_SeXnLWDyDgU_2x.sx_7569ac {
  background-position: -51px -338px
}

.sp_SeXnLWDyDgU_2x.sx_3ef8e1 {
  background-position: -68px -338px
}

.sp_SeXnLWDyDgU_2x.sx_ee367c {
  background-position: 0 -355px
}

.sp_SeXnLWDyDgU_2x.sx_542529 {
  background-position: -17px -355px
}

.sp_SeXnLWDyDgU_2x.sx_739edd {
  background-position: -34px -355px
}

.sp_SeXnLWDyDgU_2x.sx_2e43a8 {
  background-position: -51px -355px
}

.sp_SeXnLWDyDgU_2x.sx_31e12b {
  background-position: -68px -355px
}

.sp_SeXnLWDyDgU_2x.sx_efd3b4 {
  background-position: 0 -372px
}

.sp_SeXnLWDyDgU_2x.sx_de8d5f {
  background-position: -17px -372px
}

.sp_SeXnLWDyDgU_2x.sx_bf6b9c {
  background-position: -34px -372px
}

.sp_SeXnLWDyDgU_2x.sx_e0908b {
  background-position: -51px -372px
}

.sp_SeXnLWDyDgU_2x.sx_53108d {
  background-position: -68px -372px
}

.sp_SeXnLWDyDgU_2x.sx_61a4f3 {
  background-position: 0 -389px
}

.sp_SeXnLWDyDgU_2x.sx_bcb655 {
  background-position: -17px -389px
}

.sp_SeXnLWDyDgU_2x.sx_f28d10 {
  background-position: -34px -389px
}

.sp_SeXnLWDyDgU_2x.sx_510290 {
  background-position: -51px -389px
}

.sp_SeXnLWDyDgU_2x.sx_c5bd83 {
  width: 12px;
  height: 10px;
  background-position: -65px -406px
}

.sp_SeXnLWDyDgU_2x.sx_74a875 {
  width: 12px;
  height: 9px;
  background-position: -78px -406px
}

.sp_SeXnLWDyDgU_2x.sx_da3beb {
  width: 11px;
  background-position: -85px -134px
}

.sp_SeXnLWDyDgU_2x.sx_442df4 {
  width: 10px;
  height: 10px;
  background-position: -85px -164px
}

.sp_SeXnLWDyDgU_2x.sx_ecdd10 {
  width: 11px;
  height: 12px;
  background-position: -85px -151px
}

.sp_SeXnLWDyDgU_2x.sx_f6b99a {
  width: 24px;
  height: 24px;
  background-position: 0 -88px
}

.sp_SeXnLWDyDgU_2x.sx_b464a7 {
  width: 9px;
  height: 5px;
  background-position: -63px -113px
}

.sp_SeXnLWDyDgU_2x.sx_a06910 {
  width: 80px;
  height: 28px;
  background-position: 0 -59px
}

.sp_SeXnLWDyDgU_2x.sx_ea9973 {
  width: 88px;
  height: 29px;
  background-position: 0 -29px
}

.sp_SeXnLWDyDgU_2x.sx_928a01 {
  width: 96px;
  height: 28px;
  background-position: 0 0
}

.sp_SeXnLWDyDgU_2x.sx_28f827 {
  width: 10px;
  height: 6px;
  background-position: -52px -113px
}

.sp_SeXnLWDyDgU_2x.sx_168071 {
  width: 10px;
  height: 10px;
  background-position: -85px -175px
}

.sp_SeXnLWDyDgU_2x.sx_938bbe {
  width: 10px;
  height: 10px;
  background-position: -85px -186px
}

.sp_SeXnLWDyDgU_2x.sx_c862a4 {
  width: 10px;
  height: 10px;
  background-position: -85px -197px
}

.sp_SeXnLWDyDgU_2x.sx_ecea2a {
  width: 13px;
  height: 3px;
  background-position: -81px -84px
}
